<% if @user %>
  <div id="app" />
<% else %>

<div class="grid-container-home-page">
  <div class="grid-item"></div>
  <div class="grid-item">
    <%= image_tag'https://s3.amazonaws.com/tax-tracker-development/HomePage-image.png', class:"home-picture" %>
  </div>
  <div class="grid-item">
  	<div class="">
      <h3>John Smith</h3>
      <h4>Estimated Tax Owed: $6.00</h4>
      <h4>Estimated Earnings: $300.00</h4>
      <h4>Estimated Miles Driven: 95</h4>
    </div>
  </div>
  <div class="grid-item"></div>
</div>

<% end %>
