<% if @user %>
  <div id="app" />
<% else %>

<div>
  <div class="medium-12 columns">
    <img class="largeBox" src="/assets/Screen-Shot-2016-02-14-at-4.39.24-PM.png"/>
  </div>

  <div class="introtxt">
    <span>Track your</span>
    <span>miles, earnings and</span>
    <span>taxes.</span>
    <div class="">
      <h2>The Right Way</h2>
    </div>
  </div>

</div>

<% end %>
