<% if @user %>
<div class="footer">
  <p><a href="#"><strong>About Us<strong></a></p>
    <p><a href="#"><strong>Contact<strong></a></p>
</div>
  <div id="app" />
<% else %>


<div class="home-page-body">
  <div class="small-ellipse">
  </div>
  <div class="large-ellipse">
  </div>
  <div class="img-home">
    <%= image_tag '/assets/humphrey-muleba-1105960-unsplash.png'%>
  </div>
  <div class="home-text">
    <h1>
      Track your mileages,
      <br>earnings and taxes.</br>
      The right way
      <h4>Keep calm and drive on</h4>
    </h1>
  </div>
  <div class="signup-home-button">
    <a>
    <%= link_to 'Sign Up', new_user_registration_path, class:"button" %>
    </a>
    <p style="width: 600px;">Already have an account? <%= link_to 'Log In', new_user_session_path %></p>
  </div>
</div>

<% end %>
