<div class="text">
  <h3>Contact</h3>

  Name: Shardly Romelus <br/>

  Please feel free to contact me on Linkedin and also see my repos on Github. <br/>

  Linkedin: https://www.linkedin.com/in/shardlyromelus <br/>
  Github: https://github.com/sromelus <br/>

</div>
