

.input {
  display: block;
  margin-top: 2%;
  margin-bottom: 5%;
  outline-style: none;
  border: 3px solid #176287;
  box-sizing: border-box;
  border-radius: 10px;
  background: #202028;
  color: #fff;
  width: 450px;
  height: 34px;
}

.label {
  display: block;
  font-size: 24px;
}


.form {
  padding: 20px;
  border-radius: 30px;
  background: #202028;
}

.button {
  background-color: #226287;
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  outline-style: none;
  cursor: pointer;
}

.main-signin-signup .button {
  color: #fff;
}

.flash {
  color: #ee4830;
}

.main-signin-signup {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-signin-signup span {
  color: #73f340;
}

.main-signin-signup p a {
  color: #008CBA;
}

.button-cancel {
  background: #4f4f57;
  margin-left: 2%;
}

.container-signin-signup {
  min-height: 100%;
  background: #303038;
  background-size: cover;
}

.home-text h1 {
  font-size: 52px;
}

.home-text p {
  font-size: 52px;
}

@media (max-width: 700px) {

  .button {
    background-color: #226287;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    font-size: 10px;
    outline-style: none;
    cursor: pointer;
  }

  .check-box, .check-box-label {
    font-size: 10px;
    width: 7px;
    height: 7px;
  }

  .home-text h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
  }

  .home-text p {
    margin: 0 auto;
    font-size: 1px;
  }

  #error_explanation {
    font-size: 10px;
  }

  .label, .form p {
    font-size: 15px;
  }

  .input {
    margin-top: 2%;
    margin-bottom: 5%;
    outline-style: none;
    border: 3px solid #176287;
    box-sizing: border-box;
    border-radius: 10px;
    background: #202028;
    color: #fff;
    width: 200px;
    height: 25px;
  }

  .main-signin-signup {
    margin: 0 auto;
    margin-top: 3%;
    display: block;
    width: 250px;
  }
}
